.App {
  text-align: center;
  background-color: indigo;
  height:100vh;
}

input {
  margin-top: 10%;
  display:inline-block;
  width:25%;
  height:30px;
  font-size: x-large;
  text-align: center;
  background-color: slateblue;
  color:lightyellow;
}

::placeholder {
  color: lightslategray;
  font-style: italic;
  background-color: lightyellow;
  text-align: center;
}

h3 {
  padding-top: 5%;
  display:inline-block;
  width: 25%;
  font-size: xx-large;
  color:skyblue;
}